//Font
$default-font: montserrat-regular, sans-serif;
$default-bold-font: montserrat-bold, sans-serif;

//Colors
$darkShade100: #1f2041;
$darkShade75: rgba($darkShade100, 0.75);
$darkShade50: rgba($darkShade100, 0.5);
$darkShade25: rgba($darkShade100, 0.25);
$darkShade10: rgba($darkShade100, 0.1);
$darkShade5: rgba($darkShade100, 0.5);
$purple: #bc9cff;
$green: #6fcf97;

$cosmos: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
$green-blue: linear-gradient(180deg, $green 0%, #66d2ea 100%);

//Size

$containerWidth: 1200px;

//Breakpoints

$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
);
